<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios</title>
  </head>
  <body>
    <h1>Ejercicios Con Java Script</h1>

    <a href="/operaciones">
      <button>Operaciones Basicas</button>
    </a>
    <br>
    <br>
    <a href="/areasPerimetros">
      <button>Areas Y Perimetros</button>
    </a>
    <br>
    <br>
    <a href="/listaDeDatos">
      <button>Lista De Datos</button>
    </a>
    <br>
    <br>
    <a href="/">
      <button>Inicio</button>
    </a>
  </body>
</html>