<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista De Datos</title>
</head>
<body>
    <div>
        <h3>Ingresar, Buscar Y Eliminar Datos</h3>
        <form action="" id="formDatos">
            <label for="inputDatos">Ingresa Cualquier Dato</label>
            <input type="text" id="inputDatos">
            <input type="submit" value="Agregar">
            <label for="buscarDatos">Buscador: </label>
            <input type="text" id="buscarDatos">
        </form>
        <ul id="ulDatos">
            <li>
                Dato 1
                <button class="eliminar">X</button>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <a href="/ejercicios">
        <button>Ejercicios Basicos</button>
    </a>

    <script src="/assets/javascripts/listaDeDatos.js"></script>
</body>
</html>