<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Operaciones</title>

</head>

<body>
  
  <header>
    <h1>Operaciones</h1>
  </header>

  <input id="n1" type="number" placeholder="Escribe el primer valor">
  <input id="n2" type="number" placeholder="Escribe el segundo valor">
  <label for="resultado">Resultado</label>
  <input id="resultado" type="text" readonly="readonly"/> <br/> <br/>

  <button id="btn-sumar" onclick="suma()">Suma</button> 
  <button id="btn-restar" onclick="resta()">Resta</button> 
  <button id="btn-multiplicar" onclick="multiplicacion()">Multiplicacion</button> 
  <button id="btn-dividir" onclick="division()">Division</button> 
  <button id="btn-limpiar" onclick="limpiar()">Limpiar</button> 
  <br/>
  <br/>

  <a href="/ejercicios">
    <button>Ejercicios Basicos</button>
  </a>


  <footer>

  </footer>

  <script src="/assets/javascripts/operaciones.js"></script>


</body>

</html>